{% extends 'layouts/blank.html' %}

{% block title %} BRONTOMIND {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock stylesheets %}

</head>
<body>
{% block content %}

    {% if message == 'No' %}
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h2>Get the cluster</h2>
                        <lead>Enter your text to let BrontoMind get the sutitable cluster of your data.
                        </lead>
                    </div>
                    <div class="card-body">
                        <form action="/getdatacluster?t={{ ds_goal }}&s={{ ds_source }}" method="post"
                              name="predictevalues">
                            <div class="form-group">
                                <label class="bmd-label-floating">Input Text</label>
                                <textarea rows="10"
                                          value="{{ testing_values }}"
                                          class="form-control" name="text_value"
                                          id="text_value"
                                          required>
                                </textarea>
                            </div>
                            <br/>
                            <button type="submit" class="btn btn-primary pull-right">Get Cluster & Keywords</button>
                            <div class="clearfix"></div>
                            <input type="hidden" name="ds_source" value="{{ ds_source }}">
                            <input type="hidden" name="ds_goal" value="{{ ds_goal }}">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% if predicted == 'Yes' %}
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-warning">
                            <h2 style="text-align: center">Text Cluster</h2>
                        </div>
                        <div style="text-align: center">
                            <center>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <td class="text-center font-weight-bold">Clauter</td>
                                        <td class="text-center font-weight-bold">Keywords</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for key, value in clusters_dic.items() %}
                                        <tr>
                                            <td class="text-center">{{ key }}</td>
                                            <td style="white-space: normal !important;">{{ value }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% else %}
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-success">
                    <h2>Clusters</h2>
                </div>
                <div class="card-body">
                    <div class="alert alert-danger" role="alert">
                        <strong>Sorry!</strong> {{ message }}
                    </div>
                    <a href="/getdatacluster?t={{ ds_goal }}">
                        <button type="button" class="btn btn-primary pull-right">Try again</button>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}


{% include "includes/scripts.html" %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
{% endblock javascripts %}

<script src="/static/assets/js/argon.js?v=1.2.0"></script>

</body>

</html>